@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #19c3ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --font-serif: var(--font-playfair-display);
}

body {
  background: var(--background);
  color: var(--foreground);
}
